{% extends "pages/template.html" %}
    {% block content %}
        <div class="container index">
            <div class="index__oompas">
                {% include "../components/component.html" %}
            <div>
                {% for data in lollys %}
                {{ data.titlePost }}
                {% endfor %}
            </div>
            <form action="/submit" method="post">
                <input name="text" type="text">
                <input name="hello" type="text">
                <button type="submit">okaai</submit>
            </form>
            </div>
        </div>
    {% endblock %}
