<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/ico" href="https://www.transferbytes.io/img/favicon.ico" />
    <title>TransferBytes Example</title>
    <link rel="stylesheet" href="css/main.css">
    <style>
        .active {
            display: none;
        }
    </style>
</head>

<body>
    <div id="nuevoemail">
        <div v-bind:class="{ active: isMailActive }">
            <h3><% titulo %></h3>
            <span v-html="texto"></span>

            <label><strong>Nombre</strong></label>
            <input v-model="info_name" type="text" required placeholder="Tu nombre">
            <label><strong>Correo electronico</strong></label>
            <input v-model="info_email" type="email" required placeholder="Introduce tu email...">
            <span class="error"><% sms %></span>
            <span class="button"><button v-on:click="verifyEmail">Obtener Ebook!</button></span>
            <small><% legal %></small>
        </div>

        <div v-bind:class="{ active: isDownloadActive }">
            <a class="button" v-bind:href="href" target="_blank"><button v-on:click="downloadBook">Ver Ebook</button></a>
            <span class="error"><% sms %></span>
        </div>
    </div>

    <script src="https://www.transferbytes.io/getvue"></script>
    <script src="https://www.transferbytes.io/gettransfer"></script>

    <script src="js/main.js"></script>
</body>
</html>