* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::placeholder {
        color: getColor(grey);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: getColor(black);
}

h1, 
h2, 
h3, 
p {
    margin: 0;
}
